binder_call(mediaserver, hal_configstore)

allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager { find };
allow mediaserver sysfs_batteryinfo:dir r_dir_perms;
allow mediaserver sysfs_batteryinfo:file r_file_perms;
allow mediaserver camera_bgproc_service:service_manager { add };

allow mediaserver device:dir r_dir_perms;
