type stml0xx, domain, domain_deprecated;
type stml0xx_exec, exec_type, file_type;
init_daemon_domain(stml0xx);

# shell scripts need to execute /system/bin/sh and toolbox
allow stml0xx shell_exec:file rx_file_perms;
allow stml0xx toolbox_exec:file rx_file_perms;

allow stml0xx shell_exec:file read;
allow stml0xx system_file:file execute_no_trans;
allow stml0xx sensors_device:chr_file rw_file_perms;
